{
 :profiles {:G {:default true
                :sim     300
                :delay   500
                :alone   500
                :held    500
                }}
 :applications {:appRdc ["^com.microsoft.rdc.mac"]
                :appEmacs ["^org.gnu.Emacs"]
                }
 :layers
 {
  :spc-mode-all  {:key :spacebar   :condi :!appRdc}
  :spc-mode      {:key :spacebar   :condi :!appRdc}
  :num-mode      {:key :semicolon  :condi :!appRdc}
  :sym-mode      {:key :comma      :condi :!appRdc}
  :cod-mode      {:key :period     :condi :!appRdc}
  ; :snp-mode      {:key :slash      :condi :!appRdc}
  ; :num-mode      {:key :non_us_backslash :condi :!appRdc}
  ; :lt-mode       {:key :period    :condi :!appRdc}
  ; :lt-upper-mode {:key :slash     :condi :!appRdc}
 }

 :main
 [
  {:des "Global" :rules
   [
    [:caps_lock      :escape [:!num-mode :!cod-mode :!sym-mode]]
    [:right_command  :right_shift]

    [:right_shift              :vk_none]
    [:##grave_accent_and_tilde :##vk_none]
    [:##non_us_backslash      :##vk_none]
   ]}

  {:des "RDC" :rules
   [
    :appRdc
    [:left_control  :left_command]
    [:left_command  :left_control]
    ]}

  {:des "training-mode" :rules
   [
    ;; :!spc-mode
    :!appRdc

    [:f1           :!Ff1]
    [:f2           :!Ff2]
    [:f3           :!Ff3]
    [:f4           :!Ff4]
    [:f5           :!Ff5]
    [:f6           :!Ff6]
    [:f7           :!Ff7]
    [:f8           :!Ff8]
    [:f9           :!Ff9]
    [:f10          :!Ff10]
    [:f11          :!Ff11]
    [:f12          :!Ff12]

    ;[:##delete_or_backspace :vk_none]

    ;[:backslash :return_or_enter]

    ;[:open_bracket     :vk_none]
    ;[:close_bracket    :vk_none]
    ;[:quote            :vk_none]
   ;[:non_us_backslash :vk_none]
   ]
  }


  {:des "spc-mode (essential)"
   :rules
   [
    :spc-mode
    [:##1          :##f1]
    [:##2          :##f2]
    [:##3          :##f3]
    [:##4          :##f4]
    [:##5          :##f5]
    [:##6          :##f6]
    [:##7          :##f7]
    [:##8          :##f8]
    [:##9          :##f9]
    [:##0          :##f10]
    [:##hyphen     :##f11]
    [:##equal_sign :##f12]

    [:#Sh                   :#Sleft_arrow]
    [:#Sj                   :#Sdown_arrow]
    [:#Sk                   :#Sup_arrow]
    [:#Sl                   :#Sright_arrow]

    [:!C#Sh                   :!Oup_arrow]
    [:!C#Sj                   :!O#Sleft_arrow]
    [:!C#Sk                   :!O#Sright_arrow]
    [:!C#Sl                   :!Odown_arrow]

    [:m                     :delete_or_backspace]
    [:!Sm                   :!Sdelete_or_backspace]
    [:!Cm                   :!Odelete_or_backspace]
    [:b                     :return_or_enter]
    [:n                     :escape]

    [:u                     :!S6           [:appEmacs]]
    [:i                     :!S4           [:appEmacs]]
    [:u                     :#Spage_down  [:!appEmacs]]
    [:i                     :#Spage_up [:!appEmacs]]

    [:!Cu                   :!Cdown_arrow  [:!appEmacs]]
    [:!Ci                   :!Cup_arrow    [:!appEmacs]]

    [:s                   :!C#Ss           [:!appEmacs]]
    [:s                   [:spacebar :b :!Ss] [:appEmacs]]
    [:#Sz                   :!C#Sz]
    [:#Sx                   :!Cx]
    [:#Sc                   :!Cc]
    [:#Sv                   :!Cv]
    [:#Sd                   :!TOleft_arrow]
    [:#Sf                   :!TOright_arrow]
    [:non_us_backslash      :!Cq]
    [:#Sdelete_or_backspace :delete_forward]
    [:#Sy                   :!C#Sc]
    [:#Sp                   :!C#Sv]
    ;[:period                :!Cperiod]
    ;[:slash                 :!Cslash]
    [:#Stab                 :!C#Stab]
    [:#Sw                   :!T#Stab]
    ]}

  {:des "num-mode"
   :rules
   [
    :num-mode
    [:##q :##keypad_plus]               ;q +
    [:##w :##9]                         ;w 9 )
    [:##e :##8]                         ;e 8 *
    [:##r :##7]                         ;r 7 &
    [:##t :##keypad_asterisk]           ;t *
    [:##y :!Ssemicolon]                 ;y :

    [:##a :##hyphen]                    ;a - _
    [:##s :##3]                         ;s 3 #
    [:##d :##2]                         ;d 2 @
    [:##f :##1]                         ;f 1 !
    [:##g :##slash]                     ;g / ?

    [:##z :##6]                         ;z 6 ^
    [:##x :##5]                         ;x 5 %
    [:##c :##4]                         ;c 4 $
    [:##v :##0]                         ;v 0 )

    [:u :!SO2]                          ;u €
    [:##period :##period]               ;. . >
    [:##caps_lock :##keypad_equal_sign] ;L =

    [:##h :##left_arrow]
    [:##j :##down_arrow]
    [:##k :##up_arrow]
    [:##l :##right_arrow]
    [:##m :##delete_or_backspace]
    [:##b :##keypad_enter]
    [:##n :##escape]
    ]}

  {:des "sym-mode"
   :rules
   [
    :sym-mode
    [:##q :!S1]                      ;r !
    [:##w :!S2]                      ;w @
    [:##e :!S6]                      ;d ^
    [:##r :!S4]                      ;f $
    [:##t :!S3]                      ;q #
    [:##y :!Sgrave_accent_and_tilde] ;y ~

    [:##a :!Sequal_sign]             ;a +
    [:##s :##hyphen]                 ;s -
    [:##d :!Sslash]                  ;v ?
    [:##f :!S8]                      ;t *
    [:##g :!S5]                      ;e %

    [:##z :##backslash]              ;z \
    [:##x :!Scomma]                  ;x <
    [:##c :!Speriod]                 ;c >
    [:##v :##slash]                  ;g /

    [:##caps_lock :##equal_sign]     ;capslock =

    [:##h :##left_arrow]
    [:##j :##down_arrow]
    [:##k :##up_arrow]
    [:##l :##right_arrow]
    [:##b :##return_or_enter]
    [:##n :##escape]
    [:##m :##delete_or_backspace]
    [:##comma :##delete_or_backspace]
    ]}

  {:des "cod-mode"
   :rules
   [
    :cod-mode
    [:##q :!Sbackslash]              ;q |
    [:##w :!S7]                      ;z &
    [:##e :##open_bracket]           ;e [
    [:##r :##close_bracket]          ;r ]
    [:##t :##grave_accent_and_tilde] ;t `
    [:##y :!Sgrave_accent_and_tilde] ;y ~

    [:##a :!Ssemicolon]              ;a :
    [:##s :!Shyphen]                 ;s _
    [:##d :!S9]                      ;d (
    [:##f :!S0]                      ;f )
    [:##g :##semicolon]              ;z ;

    [:##z :!Squote]                  ;g "
    [:##x :!Sopen_bracket]           ;x {
    [:##c :!Sclose_bracket]          ;c }
    [:##v :##quote]                  ;v '

    [:##caps_lock :##equal_sign]     ;capslock =

    [:##h :##left_arrow]
    [:##j :##down_arrow]
    [:##k :##up_arrow]
    [:##l :##right_arrow]
    [:##m :##delete_or_backspace]
    [:##b :##return_or_enter]
    [:##n :##escape]
    ]}

  {:des "snp-mode"
   :rules
   [
    :snp-mode
    [:e [:open_bracket :close_bracket :left_arrow]]

    [:d [:!S9 :!S0 :left_arrow]]
    [:f [:hyphen :!Speriod]]

    [:x [:!Sopen_bracket :!Sclose_bracket :left_arrow]]

    [:##h :##left_arrow]
    [:##j :##down_arrow]
    [:##k :##up_arrow]
    [:##l :##right_arrow]
    [:##m :##delete_or_backspace]
    [:b   :return_or_enter]
    [:n   :escape]
   ]}

  ;; {:des "LT"
  ;;  :rules
  ;;  [
  ;;   :lt-mode
  ;;   [:a [:!O0 :!O1 :!O0 :!O5]] ;a,
  ;;   [:c [:!O0 :!O1 :!O0 :!Od]] ;cv
  ;;   [:e [:!O0 :!O1 :!O1 :!O9]] ;e,
  ;;   [:d [:!O0 :!O1 :!O1 :!O7]] ;e*
  ;;   [:x [:!O0 :!O1 :!O2 :!Of]] ;i,
  ;;   [:s [:!O0 :!O1 :!O6 :!O1]] ;sv
  ;;   [:v [:!O0 :!O1 :!O7 :!O3]] ;u,
  ;;   [:f [:!O0 :!O1 :!O6 :!Ob]] ;u-
  ;;   [:z [:!O0 :!O1 :!O7 :!Oe]] ;zv
  ;;   [:q [:!O2 :!O0 :!O1 :!Oe]] ;"
  ;;   [:w [:!O2 :!O0 :!O1 :!Oc]] ;"
  ;;   [:t :period]
  ;;   [:g :period]
  ;;   [:r :period]
  ;;   [:b :period]

  ;;   :lt-upper-mode
  ;;   [:a [:!O0 :!O1 :!O0 :!O4]] ;A,
  ;;   [:c [:!O0 :!O1 :!O0 :!Oc]] ;Cv
  ;;   [:e [:!O0 :!O1 :!O1 :!O8]] ;E,
  ;;   [:d [:!O0 :!O1 :!O1 :!O6]] ;E*
  ;;   [:x [:!O0 :!O1 :!O2 :!Oe]] ;I,
  ;;   [:s [:!O0 :!O1 :!O6 :!O0]] ;Sv
  ;;   [:v [:!O0 :!O1 :!O7 :!O2]] ;U,
  ;;   [:f [:!O0 :!O1 :!O6 :!Oa]] ;U-
  ;;   [:z [:!O0 :!O1 :!O7 :!Od]] ;Zv
  ;;   [:q [:!O2 :!O0 :!O1 :!Oe]] ;"
  ;;   [:w [:!O2 :!O0 :!O1 :!Oc]] ;"
  ;;   [:t :period]
  ;;   [:g :period]
  ;;   [:r :period]
  ;;   [:b :period]

  ;;  ]}

  ;; {:des "b-mode (hyper)"
  ;;  :rules
  ;;  [:b-mode
  ;;   [:1 :!!1]
  ;;   [:2 :!!2]
  ;;   [:3 :!!3]
  ;;   [:4 :!!4]
  ;;   [:5 :!!5]
  ;;   [:6 :!!6]
  ;;   [:7 :!!7]
  ;;   [:8 :!!8]
  ;;   [:9 :!!9]
  ;;   [:0 :!!0]
  ;;   [:hyphen     :!!hyphen]
  ;;   [:equal_sign :!!equal_sign]

  ;;   [:q :!!q]
  ;;   [:w :!!w]
  ;;   [:e :!!e]
  ;;   [:r :!!r]
  ;;   [:t :!!t]
  ;;   [:y :!!y]
  ;;   [:u :!!u]
  ;;   [:i :!!i]
  ;;   [:o :!!o]
  ;;   [:p :!!p]
  ;;   [:open_bracket  :!!open_bracket]
  ;;   [:close_bracket :!!close_bracket]

  ;;   [:a :!!a]
  ;;   [:s :!!s]
  ;;   [:d :!!d]
  ;;   [:f :!!f]
  ;;   [:g :!!g]
  ;;   [:h :!!h]
  ;;   [:j :!!j]
  ;;   [:k :!!k]
  ;;   [:l :!!l]
  ;;   [:semicolon        :!!semicolon]
  ;;   [:quote            :!!quote]
  ;;   [:non_us_backslash :!!non_us_backslash]

  ;;   [:z :!!z]
  ;;   [:x :!!x]
  ;;   [:c :!!c]
  ;;   [:v :!!v]
  ;;   [:n :!!n]
  ;;   [:m :!!m]
  ;;   [:comma  :!!comma]
  ;;   [:period :!!period]
  ;;   [:slash  :!!slash]
  ;;  ]
  ;; }

  ]
 }
